// https://www.logicui.com/colorgenerator
// Prim/Sec/Tert/Err - #E38312 #031136 #082CE2 #EC265B

$primary: #e38312;
$secondary: #031136;
$tertiary: #082ce2;
$error: #ec265b;
$background: #fcfcfb;

// @use "@material/textfield/mdc-text-field";
// @use "@material/radio/mdc-radio";
// @use "@material/textarea/mdc-textarea";
// @use "@material/checkbox/mdc-checkbox";
// @use "@material/table/mdc-table";

// @use '@material/web/button/filled-button';
// @use '@material/web/button/outlined-button';
// @use '@material/web/checkbox/checkbox';
// @use '@material/web/chips/suggestion-chip';
// @use '@material/web/field/filled-field';
// @use '@material/web/radio/radio';
// @use '@material/web/textfield/filled-text-field';
// @use '@material/web/textfield/outlined-text-field';

:root {
  --primary: #e38312;
  --on-primary: #ffffff;
  --primary-container: #e6c7a3;
  --on-primary-container: #331e04;
  --secondary: #031136;
  --on-secondary: #ffffff;
  --secondary-container: #a1b3e6;
  --on-secondary-container: #031033;
  --tertiary: #082ce2;
  --on-tertiary: #ffffff;
  --tertiary-container: #a0abe6;
  --on-tertiary-container: #020a33;
  --error: #ec265b;
  --on-error: #ffffff;
  --error-container: #e6a9b9;
  --on-error-container: #330814;
  --background: #fcfcfb;
  --on-background: #333231;
  --surface: #fcfcfb;
  --on-surface: #333231;
  --surface-variant: #e6dfd8;
  --on-surface-variant: #665d53;
  --outline: #998c7d;
  --primary-dark: #e6ba87;
  --on-primary-dark: #4c2c06;
  --primary-container-dark: #663b08;
  --on-primary-container-dark: #e6c7a3;
  --secondary-dark: #859fe6;
  --on-secondary-dark: #05184c;
  --secondary-container-dark: #062066;
  --on-secondary-container-dark: #a1b3e6;
  --tertiary-dark: #8392e6;
  --on-tertiary-dark: #030f4c;
  --tertiary-container-dark: #041366;
  --on-tertiary-container-dark: #a0abe6;
  --error-dark: #e68fa7;
  --on-error-dark: #4c0c1e;
  --error-container-dark: #661028;
  --on-error-container-dark: #e6a9b9;
  --background-dark: #333231;
  --on-background-dark: #e6e4e2;
  --surface-dark: #333231;
  --on-surface-dark: #e6e4e2;
  --surface-variant-dark: #665d53;
  --on-surface-variant-dark: #e6ddd3;
  --outline-dark: #b3a99e;
}

html,
body {
  background-color: $background;
  box-sizing: border-box;
  height: 100%;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: $background;
}

header {
  display: block;
  height: 130px;
  background: $tertiary;
  padding: 0px;
  margin: 0px;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  background: $primary;
  height: calc(100% - 150px);
  width:100%;
}

footer {
  display: block;
  height: 20px;
  background: $error;
}

// // Input Text Fields
// .input-text-field {
//     @include mdc-text-field;
//   }

//   // Radio Buttons
//   .radio-button {
//     @include mdc-radio;
//   }

//   // Text Areas
//   .text-area {
//     @include mdc-textarea;
//   }

  // Checkboxes
//   .checkbox {
//     @include mdc-checkbox;
//   }

//   // Tables
//   .table {
//     @include mdc-table;
//   }

.raffle-data {
  display: flex;
  flex-wrap: wrap;
  width: 50%;

  div.info-box {
    background: lightblue;
    padding: 10px;
    width: 50%;
    box-sizing: border-box;

    &.block {
      background: lightgreen;
      width: 100%;
    }
  }
}

#participants-output {
  .winner {
    background: green;
  }
}

.excluded-from-raffle {
  background: red;
  td,
  th {
    color: grey;
    text-decoration: line-through;
  }
}
