/* ../../../../../var/folders/rz/vttll49j4bx4dxwm4g8g02l80000gn/T/tmp-5193-3jnzoMtKVF56/my-typescript-sass-project/src/styles/main.css */
body {
  font-family: Arial, sans-serif;
  background-color: #076c5f;
  color: white;
  text-align: center;
}
