<!-- Copyright 2024, Jan Kern, janpkern@googlemail.com -->

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/bundle.css" />
    <title>Sequencer-Talk-Raffle</title>
  </head>
  <body>
    <header class="header"></header>
    <div class="navigation">
      <form class="raffle-determination-type" id="raffle-determination-type">
        <input
          type="radio"
          id="simultaneously"
          name="determinationType"
          value="simultaneously"
          checked
        />
        <label for="simultaneously">Gleichzeitig</label>
        <input
          type="radio"
          id="consecutively"
          name="determinationType"
          value="consecutively"
        />
        <label for="consecutively">Nacheinander</label>
      </form>
      <button type="button" id="raffle-perform" class="nav">Raffle</button>
      <button type="button" id="raffle-repeat" class="nav">Nochmal</button>
      <button type="button" id="raffle-info" class="nav">Und weiter</button>
      <button type="button" id="raffle-create" class="nav">
        Raffle anlegen
      </button>
      <button type="button" id="raffle-create-reset" class="nav">
        Raffle neu erstellen
      </button>
      <button type="button" id="raffle-goto" class="nav">Zur Auslosung</button>
      <button type="button" id="raffle-summary" class="nav">
        Raffle-Übersicht
      </button>
    </div>

    <div class="content-wrapper" style="z-index: 4" id="info">
      <div class="column column"></div>
      <div class="content">
        <h1>Raffle Generator</h1>
        <p>
          Hier kannst du ein beliebiges Sequencer-Talk-Gewinnspiel
          konfigurieren. Dazu musst du alle Teilnehmer importieren und kannst
          dann die Anzahl der Gewinner festlegen. Optional kannst du auch Preise
          erstellen, die dann bei der Auslosung automatisch den Gewinnern
          zugewiesen werden.<br />
          Außerdem kannst du noch festlegen, ob nur die Supporter oder auch die
          Newsletter-Abonnenten mit dabei sein.
        </p>
        <p>
          <b>Merke</b>: Damit Teilnehmer ausgelost werden können, müssen
          Stammdaten (aus Steady) im CSV-Textformat importiert werden.
        </p>
        <p>
          <i
            >Solange es noch kein File-Drop gibt, die CSV-Datei im Texteditor
            öffnen z.B. mit 'textEdit', den Inhalt kopieren und dann in die
            jeweilige Textbox für Supporter und Newsletter einfügen.</i
          >
        </p>
        <p>
          <b>TODO</b>: Die Importanpassungen für Supporter und Newsletter aus getrennten 
          CSV-Dateien ist gemacht, müsste jetzt von dir mal getestet werden.
        </p>
        <p>
          Beim Eingabefeld kann zu Testzwecken ein Testimport angeklickt
          werden.<br />
          Diese kleine Anwendung speichert keine Daten. Sobald du das
          Browserfenster schließt, ist alles weg.
        </p>
        <p>
          Bei Fragen erreichst du mich unter
          <a href="mailto:janpkern@gmail.com">janpkern@gmail.com</a>, in den
          Steady-Messages oder im sequencer.de-Forum (#jancore).
        </p>

        <div class="row center"></div>
      </div>
    </div>

    <div class="content-wrapper" style="z-index: 3" id="create">
      <div class="validation-output" id="validation-output"></div>
      <div class="content">
        <h1>Konfiguration</h1>
        <form id="raffleForm">
          <div class="row">
            <div class="column column-1">
              <input
                type="text"
                id="raffleName"
                name="raffleName"
                placeholder="Raffle Name"
              />
            </div>
          </div>
          <div class="row highlight">
            <div class="row">
              <div class="column column-1">
                <label for="csvText">Supporter-Import (CSV-Text):</label>
                <textarea
                  id="csvText"
                  name="csvText"
                  rows="4"
                  cols="50"
                ></textarea>
              </div>
              <!-- </div>
            <div class="row"> -->
              <div class="column column-1">
                <label for="csvText">Newsletter-Import (CSV-Text):</label>
                <textarea
                  id="csvNewsletterText"
                  name="csvNewsletterText"
                  rows="4"
                  cols="50"
                ></textarea>
              </div>
            </div>
            <div class="row">
              <div class="column column-1">
                <input type="checkbox" id="useTestData" name="useTestData" />
                <label for="useTestData">Testdaten verwenden</label>
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="column column-3-3">
              <input
                type="checkbox"
                id="includeSupporter"
                name="includeSupporter"
                checked
                disabled
              />
              <label for="includeSupporter">Mit Supporter</label>
            </div>
            <div class="column column-2-3">
              <input
                type="checkbox"
                id="includeNewsletter"
                name="includeNewsletter"
              />
              <label for="includeNewsletter">Mit Newsletter-Abonnenten</label>
            </div>
          </div> -->
          <div class="row">
            <div class="column column-3-3">
              <input
                type="radio"
                id="numberOfWinnersRadio"
                name="participantsOption"
                value="numberOfWinners"
              />
              <label for="numberOfWinnersRadio"
                >Gewinneranzahl festlegen:</label
              >
            </div>
            <div class="column column-2-3">
              <input
                type="number"
                id="numberOfWinners"
                name="numberOfWinners"
                disabled
              />
            </div>
          </div>
          <div class="row">
            <div class="column column-3-3">
              <input
                type="radio"
                id="pricesRadio"
                name="participantsOption"
                value="prices"
              />
              <label for="pricesRadio">Oder Preise erstellen:</label>
            </div>
            <div class="column column-2-3">
              <button type="button" class="internal" id="addPriceButton">
                Preise hinzufügen
              </button>
              <div id="pricesContainer"></div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="content-wrapper" style="z-index: 2" id="summary">
      <div class="content">
        <h1>Summary</h1>
        <div class="raffle-data" id="raffle-data">
          <div class="info-box left" id="has-newletter-output"></div>
          <div class="info-box right" id="number-of-winners-output"></div>
          <div class="info-box block" id="prices-output"></div>
          <div class="info-box block" id="participants-output"></div>
        </div>
      </div>
    </div>

    <div class="content-wrapper" style="z-index: 1" id="raffle">
      <div class="content">
        <h1 id="raffle-winner-headline">Raffle GO!!!</h1>
        <div class="raffle-data" id="winner-output"></div>
      </div>
    </div>
    <footer>v1.1.2</footer>
    <script src="./static/bundle.js"></script>
  </body>
</html>
